#firstStep,
#secondStep,
#thirdStep,
#lastStep,
#deliveryAdress,
.wd_option_box,
.wd_product_list {
  display: none;
}

#firstStep {
  display: block;
}

.inputfile-6+label strong {
  display: inline;
}

ul.state_list_tab.utility_list li, ul.state_list_tab.bank_list li {
  width: 25%;
}

.wd_single_product .wd_product_image_wrapper {
  position: relative;
  cursor: pointer;
  display: block;
  min-height: 215px;
  border: #e8e8e8 3px solid;
}

.wd_product_image_wrapper,
.wd_product_image_wrapper * {
  transition: 0.2s;
}

.wd_product_image_wrapper.selected {
  border-color: #d71920;
}

.wd_product_image_wrapper img {
  border: 1px solid transparent;
}

.wd_product_image_wrapper .has_error {
  border: 1px solid #d71920;
}

/*Date picker*/
.picker__select--month, .picker__select--year {
  padding: 5px;
}

table.picker__table th,
table.picker__table td,
.picker__day {
  font-weight: 700;
  border: 0 none;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  color: #666;
}

.picker {
  width: 400px;
}

/* Option box */
.wd_option_box {
  position: absolute;
  left: -15px;
  top: calc(100% - 78px);
  width: max-content;
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 4px;
  box-shadow: 0 0 10px #00000044;
  z-index: 999999;
}

.wd_option_box h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  text-align: left;
  font-family: 'Poppins', sans-serif;
}

ul.state_list_tab li.wd_single_product .wd_option_box a {
  display: inline-block;
  min-height: initial;
  border: 0 none;
  padding: 5px 15px;
  font-size: 15px;
}

ul.state_list_tab li.wd_single_product .wd_option_box .statement_list li {
  width: auto;
  float: none;
  min-height: 40px;
}

ul.state_list_tab li.wd_single_product .wd_option_box .statement_list li label {
  padding-left: 25px;
}